body{
	background: #d2d2c1 url('../imagens/fundo2.png');
	font: 16px Arial, Helvetica, sans-serif;

}

h2{
	color: gray;
	font-size: 1.2em

}

#principal{
	width: 900px;
	margin: auto;
}
#menu {
	background: #c5c5b2;
	padding: 18px;
}


a{
	text-decoration: none;
	color: #4b566a;
	font-weight: bold;
	padding: 5px;
}

#conteudo{
	background-color: #e8e8d9;
	padding: 10px;
}

#rodape{
	text-align: center;
}

.bordasImg{
	border: 10px groove #F781BE;
}